table, th, td {
    border:1px solid black;
  }
  td{
      text-align: center;
  }

  th{
      background-color: dimgrey;
      color: white;
  }
  .table{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .div-btn{
      margin-top: 30px;
      text-align: center;
  }
  * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .chartMenu {
    width: 100vw;
    height: 40px;
    background: #1A1A1A;
    color: rgba(255, 26, 104, 1);
  }
  .chartMenu p {
    padding: 10px;
    font-size: 20px;
  }
  .chartCard {
    width: 100vw;
    height: calc(100vh - 40px);
    background: rgba(255, 26, 104, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .chartBox {
    width: 700px;
    padding: 20px;
    border-radius: 20px;
    background: white;
  }